// mobile
$mobile-screen-sm: 0px;
$mobile-screen-md: 360px;
$mobile-screen-lg: 480px;

// tablet
$tablet-screen-md: 600px;
$tablet-screen-lg: 840px;

// desktop
$desktop-screen-sm: 960px;
$desktop-screen-md: 1280px;
$desktop-screen-lg: 1440px;
$desktop-screen-xl: 1600px;
