<div class="list-container">
  <div class="mat-elevation-z8 table-container">
    <table mat-table [dataSource]="dataSource" matSort class="table">
      <!-- Licencia Column -->
      <ng-container matColumnDef="licencia">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Licencia</th>
        <td mat-cell *matCellDef="let atleta">{{ atleta.licencia }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let atleta">{{ atleta.nombre }}</td>
      </ng-container>

      <!-- Apellidos Column -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Apellidos</th>
        <td mat-cell *matCellDef="let atleta">{{ atleta.apellidos }}</td>
      </ng-container>

      <!-- Fecha Nacimiento Column -->
      <ng-container matColumnDef="fecha_nacimiento">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha Nac.</th>
        <td mat-cell *matCellDef="let atleta">
          {{ atleta.fechaNacimiento | formatDate }}
        </td>
      </ng-container>

      <!-- Dni Column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let atleta">{{ atleta.dni }}</td>
      </ng-container>

      <!-- Telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let atleta">{{ atleta.telefono }}</td>
      </ng-container>

      <!-- Club Column -->
      <ng-container matColumnDef="club">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Club</th>
        <td mat-cell *matCellDef="let atleta">
          {{ getClubName(atleta.idclub) }}
        </td>
      </ng-container>

      <!-- Editar Column -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let atleta">
          <button
            mat-icon-button
            color="primary"
            (click)="goToUserEdition(atleta.idatleta)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar Column -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let atleta">
          <button
            mat-icon-button
            color="primary"
            (click)="openDialog(atleta.idatleta)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<aspa-actions-footer>
  <mat-form-field class="filter">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Buscar atleta..."
    />
  </mat-form-field>
  <div class="float-right">
    <button mat-raised-button color="primary" (click)="goToUserCreation()">
      Añadir atleta
    </button>
  </div>
</aspa-actions-footer>
