<mat-nav-list mat-nav-list>
  <aspa-user-info *ngIf="isMobile"></aspa-user-info>
  <mat-list>
    <div *ngFor="let item of sidenavElements">
      <mat-list-item
        *ngIf="isAllowed(item.roles)"
        routerLink="{{ item.route }}"
        routerLinkActive="active"
        (click)="click()"
      >
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <h4 mat-line>{{ item.name }}</h4>
      </mat-list-item>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="username" (click)="logout()">
      <mat-icon mat-list-icon>power_settings_new</mat-icon>
      <h4 mat-line>Cerrar sesión</h4>
    </mat-list-item>
  </mat-list>
</mat-nav-list>
<div class="menu-footer">
  ASPA v1.0.0
</div>
