<p mat-dialog-title>Editar altura</p>

<div mat-dialog-content>

  <button mat-icon-button color="primary" tabindex="-1" class="delete-icon" (click)="deleteAltura()">
    <mat-icon>delete</mat-icon>
  </button>

  <mat-form-field class="altura-field">
    <input matInput placeholder="Altura" [(ngModel)]="altura.altura" autofocus type="number" autocomplete="off"
      min="0.00" step="0.01">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]>Cerrar</button>
  <button mat-raised-button color="primary" [disabled]="!isValid(altura.altura)" (click)="editAltura()">Guardar</button>
</div>